<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>photo</key>
		<string>redmiNote11</string>
		<key>title</key>
		<string>Xiaomi Redmi Note 11,90 Hz Amoled Pioneer, 64 GB, 4GB RAM, Graphite Gray</string>
		<key>price</key>
		<real>5594.06</real>
		<key>sale</key>
		<string>Extra 15% discount with code VISATHURSDAY</string>
		<key>shippedAt</key>
		<string>Get it as soon as Monday, July 11</string>
		<key>shippedFrom</key>
		<string>Fulfilled by Amazon - FREE Shipping</string>
		<key>rating</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>photo</key>
		<string>redmiNote11</string>
		<key>title</key>
		<string>Xiaomi Redmi Note 11,90 Hz Amoled Pioneer, 128 GB, 6GB RAM, Graphite Gray</string>
		<key>price</key>
		<real>5859</real>
		<key>sale</key>
		<string>Extra 15% discount with code VISATHURSDAY</string>
		<key>shippedAt</key>
		<string>Get it as soon as Monday, July 11</string>
		<key>shippedFrom</key>
		<string>Fulfilled by Amazon - FREE Shipping</string>
		<key>rating</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>photo</key>
		<string>samsung50</string>
		<key>title</key>
		<string>Samsung 50 Inch 4K UHD Smart LED TV with Built-in Receiver and Remote Control, Black - UA50AU7000UXEG</string>
		<key>price</key>
		<real>8099</real>
		<key>sale</key>
		<string>Extra 15% discount with code VISATHURSDAY</string>
		<key>shippedAt</key>
		<string>Get it as soon as Tuesday, July 12</string>
		<key>shippedFrom</key>
		<string>Fulfilled by Amazon - FREE Shipping</string>
		<key>rating</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>photo</key>
		<string>LG50</string>
		<key>title</key>
		<string>LG UHD 4K TV 55 Inch UP75 Series, 4K Active HDR WebOS Smart AI ThinQ (New 2022)</string>
		<key>price</key>
		<real>9499.35</real>
		<key>sale</key>
		<string>Extra 15% discount with code VISATHURSDAY</string>
		<key>shippedAt</key>
		<string>Get it as soon as Tuesday, July 12</string>
		<key>shippedFrom</key>
		<string>Fulfilled by Amazon - FREE Shipping</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>photo</key>
		<string>nokia106</string>
		<key>title</key>
		<string>Nokia 106 Dual SIM- Dark Grey</string>
		<key>price</key>
		<real>425.83</real>
		<key>sale</key>
		<string>Extra 15% discount with code VISATHURSDAY</string>
		<key>shippedAt</key>
		<string>Get it as soon as Monday, July 11</string>
		<key>shippedFrom</key>
		<string>Fulfilled by Amazon - FREE Shipping</string>
		<key>rating</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>photo</key>
		<string>redmiNote11</string>
		<key>title</key>
		<string>Xiaomi Redmi Note 11,90 Hz Amoled Pioneer, 64 GB, 4GB RAM, Graphite Gray</string>
		<key>price</key>
		<real>5594.06</real>
		<key>sale</key>
		<string>Extra 15% discount with code VISATHURSDAY</string>
		<key>shippedAt</key>
		<string>Get it as soon as Monday, July 11</string>
		<key>shippedFrom</key>
		<string>Fulfilled by Amazon - FREE Shipping</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>photo</key>
		<string>samsung43</string>
		<key>title</key>
		<string>Samsung 43 Inch Full HD Smart LED TV with Built-in Receiver, Black - UA43T5300AUXEG</string>
		<key>price</key>
		<integer>0</integer>
		<key>sale</key>
		<string></string>
		<key>shippedAt</key>
		<string></string>
		<key>shippedFrom</key>
		<string></string>
		<key>rating</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>photo</key>
		<string>reno6cyan</string>
		<key>title</key>
		<string>OPPO Reno 6 5G - 6.4-inch 128GB/8GB Dual SIM 5G Mobile Phone - Aurora</string>
		<key>price</key>
		<real>10990</real>
		<key>sale</key>
		<string>Extra 15% discount with code VISATHURSDAY</string>
		<key>shippedAt</key>
		<string>Get it as soon as tommorow, Jul 8</string>
		<key>shippedFrom</key>
		<string>Fulfilled by Amazon - FREE Shipping</string>
		<key>raitng</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>photo</key>
		<string>samsung43</string>
		<key>title</key>
		<string>SAMSUNG Galaxy A53 5G Mobile Phone SIM, 256GB, 8GB RAM, White</string>
		<key>price</key>
		<real>10500</real>
		<key>sale</key>
		<string>Extra 15% discount with code VISATHURSDAY</string>
		<key>shippedAt</key>
		<string>Get it Friday, July 15 - Saturday, July 16</string>
		<key>shippedFrom</key>
		<string>EGP 21.00 shipping</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>photo</key>
		<string>reno6black</string>
		<key>title</key>
		<string>Reno 6 5G Dual SIM Stellar Black 8GB RAM 128GB</string>
		<key>price</key>
		<real>10850</real>
		<key>sale</key>
		<string>Extra 15% discount with code VISATHURSDAY</string>
		<key>shippedAt</key>
		<string>Get it as soon as Monday, July 11</string>
		<key>shippedFrom</key>
		<string>Fulfilled by Amazon - FREE Shipping</string>
		<key>rating</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>photo</key>
		<string>LG43</string>
		<key>titlew</key>
		<string>LG LED Smart TV 43 inch LM6370 Series Full HD HDR Smart LED TV - 43LM6370PVA</string>
		<key>price</key>
		<real>6649</real>
		<key>sale</key>
		<string></string>
		<key>shippedAt</key>
		<string>Get it as soon as Tuesday, July 12</string>
		<key>shippedFrom</key>
		<string>Fulfilled by Amazon - FREE Shipping</string>
		<key>rating</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
